<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.magzza.ip</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>080B2A0B-CB08-47A4-BB6F-7019FCA92D99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FEEDAD9-505B-473A-ACBA-1D0B90F7886B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60DEE9DE-8DC9-49EF-BB5F-DE8E7B1A1940</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>magzza</string>
	<key>description</key>
	<string>获取本机IP地址</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP Address</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>IP地址：</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3FEEDAD9-505B-473A-ACBA-1D0B90F7886B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>骚等片刻...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./myip.rb "{query}"</string>
				<key>title</key>
				<string>本机IP地址</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>080B2A0B-CB08-47A4-BB6F-7019FCA92D99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>60DEE9DE-8DC9-49EF-BB5F-DE8E7B1A1940</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>080B2A0B-CB08-47A4-BB6F-7019FCA92D99</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3FEEDAD9-505B-473A-ACBA-1D0B90F7886B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>60DEE9DE-8DC9-49EF-BB5F-DE8E7B1A1940</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
